* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(181, 201, 202); */
}

.shear-white {
    max-width: 1200px;
    margin: 0 auto;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: white; */
    margin-top: 20px;
}

.navbar img {
    height: 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    align-items: center;
}

.home-text {
    font-weight: bold;
    color: #252432;
}

/* banner section stert*/
.bannersection {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banneer-text h1 {
    font-weight: bold;
    font-size: 65px;
}

.banneer-text h5 {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.banneer-titel {
    color: #E95A08;
}

.banner-img img {
    width: 570px;
    height: 355px;
}

/* banner section end */
/* Plants Section start */
/* sub-titel */
.sub-titel {
    text-align: center;
    gap: 10px;
    margin-bottom: 50px;
}

.sub-titel h1 {
    font-size: 50px;
    font-weight: bold;
    color: #252432;
}

.sub-titel h1 span {
    color: #E95A08;
}

.sub-titel h5 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

/* card-container */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    

}

/* card */
.card {
    height: 484px;
    width: 270px;    
    margin-bottom: 70px;
    

}

.card img {
    height: 322px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-bottom: 30px; */
    padding-bottom: 30px;
}

.card h2 {
    font-weight: 500;
    font-size: 22px;
    color: #111111;
    text-align: center;
}

.card h3 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #111111;
    padding-bottom: 30px;

}

/* shear buttun */
.btn {

    width: 100%;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 26px 60px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    align-items: center;
}
/* Flower & Plants Lover section start */
.plants-container {
      display: flex;
      max-width: 1000px;
      margin: 40px auto;
    
    }

    .plants-left-section {
      
      flex: 1;
      position: relative;
    }

    .plants-left-section img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
/* .badge {
    position: relative;
} */

.badge img {
    height: 286px;
    width: 286px;
    position: absolute;
    top: 20px;
    left: 60%;
    transform: translateY(-60%);
  
}
    /* .badge {
       
      position: absolute;
      top: 20px;
      left: 50%;
    transform: translateY(-20%);
      /* width: 120px; */
    /* } */

    .plants-right-section {
      flex: 1;
      padding: 40px 30px;
      /* background-color: #f3f4f8; */
    }

    .plants-right-section h2 {
        font-weight: bold;
      font-size: 50px;
      /* margin-bottom: 20px; */
      /* font-weight: bold; */
    }

    .plants-right-section ul {
      padding-left: 20px;
      gap: 20px;
    }

    .plants-right-section li {
      
      font-weight: regular;
        font-size: 22px;
        color: #000000;
        
    }
/* Flower & Plants Lover section end */
/* plantes section end */
/* Plants Lover Section stert */
/* Plants Lover Section subtitel stert */
.Plants-lover-sub-titel {
    text-align: center;
    gap: 10px;
    margin-bottom: 50px;
}

.Plants-lover-sub-titel {
    font-size: 50px;
    font-weight: bold;
    color: #252432;
}

.Plants-lover-sub-titel h1 span {
    color: #E95A08;
}

.Plants-lover-sub-titel h5 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

/* Plants Lover Section subtitel end*/

.plants-lover-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px 40px;
}

.left-dtial {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dtial-card-1 {
    background-image: url("./assets/deal-bloom.png");
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    position: relative;
    color: white;
    overflow: hidden;
    height: 150px;
    width: 300px;
}

.dtial-card-1 p {
    font-weight: bold;
    font-size: 20px;
}

.dtial-card-1 .btn-2 {
    font-weight: 700;
    font-size: 16px;
}

.dtial-card-2 {
    background-image: url("./assets/deal-ana.png");
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    position: relative;
    color: white;
    overflow: hidden;
    height: 150px;
    width: 300px;
}

.dtial-card-2 p {
    font-weight: bold;
    font-size: 20px;
}

.dtial-card-2 .btn-2 {
    font-weight: 700;
    font-size: 16px;
}

.right-dtial {
    background-image: url("./assets/deal-zabo.png");
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    position: relative;
    color: white;
    overflow: hidden;
    height: 150px;
    width: 300px;
}

.right-dtial p {
    font-weight: bold;
    font-size: 40px;
}

.right-dtial .btn-2 {
    font-weight: 600;
    font-size: 28px;
}

.right-dtial {
    width: 600px;
    height: 320px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Button 2 */
.btn-2 {
    color: white;
    border: none;
    text-decoration: underline;
    background-color: transparent;
}

/* Plants Lover Section end */

/* Join the colorful Bunch section start */
.colorful-bunch-container {
    background-image: url('./assets/news-letter-bg.png');
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.colorful-bunch h1 {
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

.subscribe-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.subscribe-box input {
    padding: 12px;
    width: 300px;
    border: none;
    outline: none;
}

.subscribe-box button {
    padding: 12px 20px;
    background-color: #E95A08;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* footer section start */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    /* background-color: #f8f8f8; */
    /* flex-wrap: wrap; */

}

.footer-left {
    /* max-width: 300px; */
}

.footer-left .logo {
    width: 120px;
    margin-bottom: 10px;
}

.footer-links {
    margin-top: 20px;
    display: flex;
    gap: 32px;

}

.footer-links ul {
    list-style: none;
  
}

.footer-links li {
    margin-bottom: 8px;
    color: #333;
    cursor: pointer;
      /* gap: 32px; */
   
}

.footer-icons {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-icons img {
    width: 24px;
    height: 24px;
}

/* Join the colorful Bunch section end */

/* mobile devices (0px - 767px) */
@media (min-width: 0px) and (max-width: 767px) {

    /* navbar */
    .active {
        display: none;
    }

    /* banner section */
    .bannersection {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    .banner-img img {
        width: 392px;
        height: 245px;

    }

    /* .banneer-text {
        width: 361px;
        height: 147px;
        gap: 14px;

    } */
    /* card -container */
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 20px;
    }

    /* Plants Lover Section */
    .right-dtial {
        height: 150px;
        width: 300px;
        border-radius: 14px;
    }

    .right-dtial p {
        font-weight: bold;
        font-size: 20px;
    }

    .right-dtial .btn-2 {
        font-weight: 600;
        font-size: 17px;
    }
    /* Plants Section */
    .plants-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }
/* plants badge */
.badge{
    display: none;
}
    /* Join the colorful Bunch  */
    .colorful-bunch h1 {
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }

    /* footer section */


    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 40px;
        flex-wrap: wrap;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
       padding-left: 20px;

    }


}